@font-face {
    font-family: 'alarm_clockregular';
    src: url('../fonts/alarm_clock-webfont.woff2') format('woff2'),
         url('../fonts/alarm_clock-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
  background-image: url(../images/bg.jpg);
  color: #FA9E0C;
  text-align: center;
  font-family: sans-serif;
  margin: 25px;

}
.Medium{
  font-size: 150%;
}
.Big{
  font-size: 250%;
}

#Clock{
  font-family: 'alarm_clockregular';
}

.time{
  font-size: 125%;
}

.search input{
  border: 2px;
  border-style: groove;
  background-color:  rgba(255,255,255,0.125);
  border-color: black;
  height: 30px;
  width: 40%;
  border-radius: 7px;
  color: #FA9E0C;
}

.search input:focus {
  background-color: rgba(255,255,255,0.25);
  outline: none;

}
::placeholder{
  color: #FA9E0C;
}

.tables{
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto ;
  justify-content:
}

.griditem{
  transform: scale(0.9);
  background-color:  rgba(53, 67, 68, 0.75);
  transition: background-color 0.5s, transform 0.5s, box-shadow 0.5s;
}

.griditem:hover{
  background-color: rgba(53, 67, 68, 1);
  box-shadow: 15px 15px 5px rgb(0, 0, 0, 0.75);
  transform: scale(0.95);
}
.link{
  margin: 30px;
}


a:link, a:visited, a:active{
  color: #FA9E0C;
  text-decoration: none;
  transition: text-decoration 0.25s, font-size 0.25s;

}

a:hover{
  text-decoration: underline;
  font-size: 110%;
}
